.table {
  display: grid;
  grid-template-columns:  100px 350px 200px 200px;
  grid-template-rows: repeat (19, 25px);
  gap: 1px;
  justify-content: center;
 align-items: center; 
}

.element {
  min-height: 25px;
  height: 100%;
  width: 100%;
  border: 1px solid;
}

.skills {
  grid-column: span 2;
}
.html {
  grid-row: span 6;
}
.css {
  grid-row: span 6;
}
.js {
grid-row: span 5;
}
.total {
  grid-column: span 2;
}
.big {
  font-weight: bold;
}